*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
 
    .headernav{
        width: 50%;
        margin: auto;
        justify-content: space-between;
        padding: 20px;
        display: flex;
        color: white;

        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            font-size: 20px;
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
        }
        p{
            font-size: 36px;
        }
    }
}