.detail{
    width: 60%;
    margin:30px auto;
    height: 500px;
    padding: 20px;
    .detailCard{
        width: 60%;
        margin: 20pxz auto;
        border: 1px solid black;
        text-align: centergit;
        height: 120px;
    }
}